<h1>Listing public_polls</h1>

<table class="table">
	<thead>
	<tr>
		<th>Question (Answers)</th>
		<th>Due date</th>
		<th>Answers</th>
		<th colspan="3"></th>
	</tr>
	</thead>

	<tbody>
	<% @polls.each do |poll| %>
		<tr>
			<td><%= poll.question %> (<%= poll.answers.count %>)</td>
			<td><%= poll.due_date %></td>
			<td><%= poll.votes.count %></td>
			<td><%= link_to 'Show', [:protected, poll] %></td>
			<td><%= link_to 'Edit', edit_protected_odania_poll_poll_path(poll) %></td>
			<td><%= link_to 'Destroy', [:protected, poll], method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Poll', new_protected_odania_poll_poll_path %>
